/* font-family: 'Open Sans', sans-serif; */

body{
	font-family: "Open Sans", sans-serif;
	font-size: 16px;
}
.nav-link{
	color: #FFFFFF;
	font-size: 14px;
	margin-top: 30px;
	font-weight: lighter;
}
.oscuro{
	background: #000000 25%;
	width: 1349px;
	height: 100px;
	position: absolute;
	left: 0px;
	opacity: .25;
}
.imagen_drop{
	background: url(../imagenes/imagen_drop2.png);
	position: absolute;
	background-size: all;
	height: 880px;
	width: 1349px;
	left: 0px;
}
.imagen_gota{
	background: url(../imagenes/gota.png);
	position: absolute;
	height: 258.94px;
	width: 218px;
	left: 564px;
	margin-top: 224px;

}
.menu h2{
	margin-top: 30px;
	color: #FFFFFF;
}
.todo-al-centro h1{
	margin-top: 454px;
	color: #FFFFFF;
	font-weight: normal;
}
.todo-al-centro h2{
	color: #D8D8D8;
	margin-top: 25px;
	font-size: 16px;
}