/* font-family: 'Open Sans', sans-serif; */

body{
	font-family: "Open Sans", sans-serif;
	font-size: 16px;
}
.nav-link{
	color: #FFFFFF;
	font-size: 14px;
	margin-top: 30px;
	font-weight: lighter;
}
.oscuro{
	background: #000000 25%;
	width: 1349px;
	height: 100px;
	position: absolute;
	left: 0px;
	opacity: .25;
}
.imagen_drop{
	background: url(../imagenes/imagen_drop2.png);
	position: absolute;
	background-size: all;
	height: 880px;
	width: 1349px;
	left: 0px;
}
.imagen_gota{
	background: url(../imagenes/gota.png);
	position: absolute;
	height: 258.94px;
	width: 218px;
	left: 564px;
	margin-top: 224px;

}
.menu h2{
	margin-top: 30px;
	color: #FFFFFF;
}
.todo-al-centro h1{
	margin-top: 454px;
	color: #FFFFFF;
	font-weight: normal;
	font-weight: 48px;
}
.todo-al-centro h2{
	color: #D8D8D8;
	margin-top: 25px;
	font-size: 16px;
	margin-bottom: 236px;
}
.tres_partes{
	background: #FFD7D4;
	width: 1349px;
	height: 780px;
}
.imagen_valid{
	background: url(../imagenes/valid.png);
	position: absolute;
	width: 237.44px;
	height: 237.44px;
	margin-top: 179px;
	left: 75px;
}
.imagen_customizable{
	background: url(../imagenes/customizable.png);
	position: absolute;
	width: 237.44px;
	height: 237.44px;
	margin-top: 179px;
	left: 75px
}
.imagen_responsive{
	background: url(../imagenes/responsive.png);
	position: absolute;
	width: 237.44px;
	height: 237.44px;
	margin-top: 179px;
	left: 75px;
}
.tres_partes h3{
	font-weight: bold;
	font-size: 20px;
	margin-top: 453px;
	color: #222222;
}
.tres_partes p{
	font-weight: lighter;
	font-size: 12px;
	color: #777777;
}
iframe{
	border-width: 0px;
}