/* font-family: 'Open Sans', sans-serif; */

body{
	font-family: "Open Sans", sans-serif;
	font-size: 16px;
}
.nav-link{
	color: #FFFFFF;
	font-size: 14px;
	margin-top: 21px;
}
.imagen_drop{
	background: url(../imagenes/imagen_drop.png);
	position: absolute;
	background-size: contain;
	height: 880px;
	width: 100%;
}
.imagen_gota{
	background: url(../imagenes/gota.png);
	position: absolute;
	height: 258.94px;
	width: 218px;
	left: 42%;
	margin-top: 224px;

}
.menu h2{
	margin-top: 26px;
}