@font-face{
    font-family: Open-Sans;
    src: url(OpenSans-Regular.ttf)
}
body{
    font-family: Open-Sans;
    top: 1649px;
}
.col-sm-6{
    position: absolute;
    width: 675px;
    height: 136px;
    left: 373px;
    top: 100px;
    text-align: center;
    margin-bottom: 100px;
}
.h2{
    position: absolute;
    width: 182px;
    height: 49px;
    left: 195.5px;
    top: 0px;
    font-weight: normal;
    font-size: 36px;
    line-height: 49px;
    color: #222222;
}
.p{
    width: 595px;
    height: 35px;
    left: 0px;
    top: 74px;
    font-style: normal;
    font-weight: lighter;
    font-size: 16px;
    line-height: 26px;
    color: #d2d2d2;
}
.photos{
    position: absolute;
    left: 250px;
    top: 236px;
    height: 298px;
    width: 950px;
    background: blueviolet;
    display: flex;
    flex-direction: row;
}
.col-sm-3{
    position: absolute;
    width: 1100px;
    height: 255px;
}
.imagen-john{
    border-radius: 8px;
    width: 169px;
    height: 169px;
    background: url(../photos/John.jpg);
    background-size: cover;
}
.imagen-adam{
    border-radius: 8px;
    width: 169px;    
    height: 169px;
    background: url(../photos/Adam.jpg);
    background-size: cover;
}
.imagen-kevi{
    border-radius: 8px;
    width: 169px;
    height: 169px;
    background: url(../photos/Kevi.jpg);
    background-size: cover;
}
.imagen-vicky{
    border-radius: 8px;
    width: 169px;
    height: 169px;
    background: url(../photos/Vicky.jpg);
    background-size: cover;
}
.photos h5{
    font-size: 16px;
    text-align: center;
    line-height: 22px;
    font-weight: normal;
}
.todo-al-centro{ 
    position: absolute;
    height: 370px;
    width: 1050px;
    top: 733px;
    left: 0;
    background: #f2f2f2;
}
.todo-al-centro h3{
    font-weight: 300;
    font-size: 36px;
}
